@* for the user clicks the "find more" button, will display anoter page for the user to know about Han'sShoppingCentre store introduction *@
@{
    ViewBag.Title = "Findmore";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}


@* breadcrumb *@
<nav aria-label="breadcrumb" class="p-5">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/Home/Index">Home</a></li>
        <li class="breadcrumb-item"><a href="#"></a>Products Lists</li>
    </ol>
</nav>



<h2 class="text-center display-5">
    <i class="bi bi-balloon-fill text-warning"></i><i class="bi bi-balloon-fill text-success"></i><i class="bi bi-balloon-fill text-danger-emphasis"></i>
    Han'sShoppingCentre: Your Premier Online Shopping Destination<i class="bi bi-balloon-fill text-warning"></i><i class="bi bi-balloon-fill text-success"></i><i class="bi bi-balloon-fill text-danger-emphasis"></i>
</h2>

<div class="container p-2">
    <div class="row" style="color: #78c2ad">
        <div class="col">
            <h3>
                Welcome to Han's Shopping Centre, where your shopping desires meet an unmatched online retail experience. As your trusted virtual marketplace, we bring you a world of convenience and endless choices right at your fingertips.

                A World of Variety:
            </h3>
        </div>
    </div>

    <div class="row">
        <p class="p-2">At Han's Shopping Centre, we understand that every shopper is unique. That's why we offer an extensive selection of products that cater to your diverse needs. Whether you're searching for the latest fashion trends, cutting-edge electronics, exquisite home decor, or everyday essentials, you'll find it all here.</p>

        <div row>
            <div class="col">
                <dl>
                    <dt style="color: #78c2ad">
                        Competitive Prices:
                    </dt>
                    <dd>
                        We believe in offering you not just quality but also affordability. Our competitive prices ensure that you get the best value for your money. Enjoy great deals and discounts on a wide range of products without compromising on quality.
                    </dd>
                    <dt style="color: #78c2ad">
                        Effortless Shopping:
                    </dt>
                    Navigating our user-friendly website is a breeze. Find products, compare prices, and read reviews to make informed choices. Our intuitive interface and secure checkout process make shopping with us a hassle-free experience.
                    <dd></dd>
                    <dt style="color: #78c2ad">
                        Reliable Delivery:
                    </dt>
                    Say goodbye to the stress of waiting. Han's Shopping Centre provides fast and reliable delivery services, ensuring your purchases reach your doorstep promptly. Track your orders with ease and enjoy the convenience of doorstep delivery.
                    <dd></dd>
                    <dt style="color: #78c2ad">
                        Customer-Centric Approach:
                    </dt>
                    <dd>
                        We put our customers first. Our dedicated support team is here to assist you, addressing your queries and concerns promptly. Your satisfaction is our top priority.
                    </dd>
                    <dt style="color: #78c2ad">
                        Shop with Confidence:
                    </dt>

                    <dd>
                        When you choose Han's Shopping Centre, you're choosing quality and trust. We source our products from reputable suppliers, guaranteeing authenticity and durability. Shop with confidence, knowing that you're investing in products that meet the highest standards.
                    </dd>
                    <dt style="color: #78c2ad">
                        Start Your Shopping Journey:
                    </dt>
                    <dd>
                        Experience the future of online shopping at Han's Shopping Centre. Join our growing community of satisfied customers and embark on a shopping journey that promises convenience, affordability, and unparalleled variety.
                    </dd>
                </dl>

            </div>

            <div class="row p-2">
                <div class="col">
                    <h3 style="color: #78c2ad">
                        Han's Shopping Centre – Your Ultimate Destination for Online Shopping. Shop Now and Discover the World of Possibilities!
                    </h3>
                </div>
            </div>
        </div>
    </div>
</div>
















